
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: row;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #eceff1;
}

.img-con {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}

.text-con {
  padding: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Text styles */
h3.main {
  font-size: 2em;
  margin-bottom: 10px;
}

p.main {
  font-size: 1.2em;
  margin-bottom: 30px;
}

label {
  font-weight: 500;
}

/* Form styles */
.form-signin {
  width: 100%;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.forgot-password {
  display: block;
  margin: 10px 0 20px;
  color: #007bff;
  cursor: pointer;
  text-align: right; }

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submit-button:hover {
  background-color: #0056b3;
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.or-divider span {
  flex-grow: 1;
  border-bottom: 1px solid #ddd;
  margin: 0 10px;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4285f4;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
}

.auth-button:nth-child(2) {
  background-color: #4267B2;
}

.auth-button:hover {
  opacity: 0.9;
}

.footer-text {
  margin-top: 30px;
  font-size: 0.9em;
  color: #777;
  text-align: center;
}

/* Mobile view styles */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .img-div, .text-con {
    width: 100%;
    border-radius: 10px;
  }

  .img-div {
    order: -1; 
  }

  .img-con {
    border-radius: 10px 10px 0 0;
  }

  .text-con {
    padding: 30px;
  }

  h3.main {
    font-size: 1.5em;
  }

  p.main {
    font-size: 1em;
  }

  .form-control {
    font-size: 1em;
    padding: 8px; 
  }

  .submit-button,
  .auth-button {
    font-size: 1em;
    padding: 10px; 
  }

  .footer-text {
    margin-top: 20px;
  }
}
