<div class="container">
  <div class="row">
    <div class="col-md-6 text-con">
      <h3 class="main">Welcome Back 👋</h3>
      <p class="main">Today is a new day. It's your day. You shape it.<br /> Sign in to start managing your projects.</p>
      <form class="form-signin">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control form-button w-100" placeholder="Example@gmail.com" required autofocus>
          <span class="error-message" id="email-error"></span>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control form-button w-100" placeholder="At least 8 characters" required>
          <span class="error-message" id="password-error"></span>
        </div>                       
        <label class="forgot-password">Forgot Password?</label><br />
        <button class="submit-button btn btn-block w-100" type="submit">Sign In</button>
      </form>
      <div class="or-divider">
        <span>Or</span>
      </div>
      <div class="auth-buttons">
        <button class="auth-button w-100" type="button">
          Sign in with Google
        </button>
        <button class="auth-button w-100" type="button">
          <span class="material-icons">facebook</span> Sign in with Facebook
        </button>
      </div>
      <div class="footer-text">
        <p>&copy; 2023 ALL RIGHTS RESERVED</p>
      </div>
    </div>
    <div class="col-md-6 img-div">
      <img class="img-con" src="https://s3-alpha-sig.figma.com/img/992d/fb28/30a38887b0559dfb619dc9eba940a887?Expires=1722211200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lWuo~3Bjurg4mtYxLQ-XGcVWyW7Qe3rZXe7IuqrC5QZ2bPC3~ZnAG44ZTgjVV~IDUBMrIlZS7XWjp3zvpKHlhZnn3BEScdet065pFnaTRLezyK3jMd33FteHfkzBgA34F2rNzhHRcOE54w8mc808MuzCG45JEGPpS0eZJ7SgVLPwgbPImLjVtmQjQ5H4Gwk6nWcB320mzeDfcR9HWG6QRad6Tqd5eXOOfehtd8sHcPn85H23F~C7Ip55CQ~-Jr5U00wckqoBx2T1EjqQVbt-THHuml3pJkOubtk~SvwspzhsfEA3R8ep6W-hAVuGlryN4VkvdYBQiEpW2M-eK-CwxQ__" alt="Description of the image">
    </div>
  </div>
</div>
